@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body {
    overflow: hidden; /* Hide scrollbars */
  }
.header-tabs{
    border-bottom: 2px solid rgb(158, 158, 158);
    padding: 30px 0 30px 0;
    text-align: center;
    cursor:pointer;
    vertical-align:middle;
    font-size: 20px;
}

form.search input[type=text] {
    font-size: 17px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    background-color: none;
    background-image: url('../images/searcicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 15px 0px 15px 50px;
    /* outline: none; */
}


